@media screen and (min-width: 1001px) and (max-width: 1700px) {
    body {
        background-color: red;
    }

    h1 {
        color: blue;
    }
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
    body {
        background-color: blue;
    }

    h1 {
        color: green;
    }
}

@media screen and (min-width: 240px) and (max-width: 500px) {
    body {
        background-color: green;
    }

    h1 {
        color: red;
    }
}

h1 {
    text-align: center;

}